* {
  
  margin: 0;
  
  padding: 0;
  
  box-sizing: border-box;
  
  color: white;
  
  scroll-behavior: smooth;
  
  font-family: "Ubuntu", sans-serif;
}

a {
  all: unset;
}

svg,
path {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: #ffffff;
}

/* <section .hero> */
.hero {
  max-width: 100vw;
  height: 100svh;
  /* bg */
  background-image:url("../images/sfondo_blu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 82%;
  overflow: hidden;
}

.hero-content {
  
  height: 100svh;
  
  
  display: flex;
  
  align-items: center;
  
  position: relative;
}
.hero-spectrum {

	flex: 1;
  
  width: 600px;

  overflow: hidden;
}

.hero-spectrum img {
  width: 100%;
  transform: scale(1.3);
  user-select: none;
}
.hero-middle {
  text-align: center;
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-middle h1 {
  text-shadow: 0px 2px 0px #000000;
  font-size: 28px;
  text-transform: uppercase;
}
.blu-underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #4040ff;
  left: 0;
}
.searchbar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.searchbar {
  width: 250px;
  height: 35px;
  background: white;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.searchbar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: black;
  border-radius: 5px;
  font-size: 16px;
}
.searchbar svg {
  cursor: pointer;
}
.searchbar input::placeholder {
  color: rgb(188, 188, 188);
}
.searchbar:has(input:focus) {
  border: 3px solid #4040ff;
}
.searchbar-ajax{
	background: white;
	width: 100%;
	position: absolute;
	top: 30px;
	display: none;
}
.searchbar-ajax ul{
	list-style: none;
	padding: 10px 0 0 0;
}
.searchbar-ajax ul li{
	color: black;
	cursor: pointer;
	padding: 5px;
}

.searchbar-ajax ul li:hover{
	background: #9a9996;
}

.hero-last {
  flex: 1;
}
.shop-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 18px;
  transform: translateX(-50%);
}
.shop-now-icon svg {
  position: relative;
  width: 50px;
  animation: MoveUpDown 1s linear infinite;
  cursor: pointer;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-content {
    margin-top: 70px;
    flex-direction: column-reverse;
  }
  .hero-spectrum {
    margin-top: -150px;
    flex: 2;
    width: 470px;
  }
  .hero-middle {
    flex: 2;
  }
  .hero-last {
    flex: 0;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    margin-top: 0;
  }
  .hero-spectrum {
    flex: 0;
    display: none;
  }
}
/* </section .hero> */

/* <section .categorie> */
.categorie {
  background-image: url("../images/sfondo_bianco.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 150px 0;
}
.categorie-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1100px;
  margin: auto;
  gap: 15px;
}
.categorie-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categorie-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.categorie-divider h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: black;
}
.span-divider {
  height: 3px;
  width: 100%;
  background-color: black;
  font-weight: bold;
}
.cards-wrapper {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card-categoria {
  display: flex;
  background-color: #efefef;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
  padding: 5px 10px 5px 25px;
  width: 300px;
}
.card-categoria-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.card-categoria-info p {
  color: black;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  max-width: 100px;
}
.card-categoria-info a {
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
}
.card-categoria img {
  display: block;
  width: 150px;
  height:150px;
  object-fit: contain;
}
.brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.brands-wrapper img {
  display: block;
   width: 110px;
}
@media screen and (max-width: 850px) {
  .categorie-content {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .categorie {
    background-size: cover;
  }
  .categorie-content {
    width: 90%;
  }
  .card-categoria {
    width: 270px;
  }
  .card-categoria img {
    width: 130px;
    height: 130px;
  }
  .brands-wrapper img {
    width: 70px;
  }
  .cards-wrapper {
    gap: 15px;
  }
}
/* </section .categorie>*/


