@charset "UTF-8";

nav ul{
	background-color: #007FFF;
	margin:10px 10px 0px 10px;
	list-style-type:none;
	padding: 5px 0px 5px 0px;
}

nav ul li{
	display:inline;
	padding: 5px 10px 5px 10px;
}

nav ul li a:link, ul li a:visited{
	color: #ffffff;
	border-bottom:none;
	font-weight:bold;
}

nav ul li.selected{
	background-color: #c8b99c;
}

nav{
	background-color: #007FFF;
	margin:10px 10px 0px 10px;
}

main {
	margin-top: 80px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.product-wrapper {
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.product-wrapper h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}

.image-wrapper {
	margin: 20px 0;
}

.image-wrapper img {
	max-width: 150px;
}

.product-wrapper p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.product-wrapper form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-wrapper label {
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
}

.product-wrapper input[type="number"] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 60px;
	text-align: center;
}

.button {
	background-color: #007FFF;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.button:hover {
	background-color: #222;
}